#content{
	width: 90%;
    margin: 0 auto;
}
#imageright{
	margin-left: 20px;
    float: right;
    width: 250px;
    border: forestgreen solid 1px;
    border-radius: 10%;
    display: block;
   
}
#imageleft{
	margin-right: 40px;
    float: left;
    margin-bottom: 80px;
    border: forestgreen solid 1px;
    border-radius: 10%;
    display: block;
    width: 300px;
}
.kepszoveg{
	text-align: center;
    font-weight: bold;
    font-style: italic;
}
h1{
    color: forestgreen;
    text-transform: uppercase;
}
h2{
    color: forestgreen;
    text-transform: uppercase;
}
ol{
    text-align: justify;
}
ul{
    text-align: justify;
}
a{
    text-decoration: none;
    color: blue;
}
a:visited{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
}
.jobbra{
    float: right;
}
.balra{
    float: left;
}
#imageLeft{
    float: left;  
    border-radius: 10%;
    display: block;
    width: 300px;  
    margin-bottom: 10px; 
}
.felso{
    height: 20%;
    
}


@media only screen and (max-width: 600px) {
    #imageleft{
        display: block;
        float: none;
        margin: 0 auto;
    }
    #imageright{
        display: block;
        float: none;
        margin: 0 auto;
    }
}
p{
    text-align: justify;
}
